/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* timer */

.picker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.flatpickr-input {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  border-radius: 4px;
  width: 272px;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #808080;
  background: #fff;
}

.flatpickr-input:hover {
  border: 1px solid #000 !important;
}

.flatpickr-input:active {
  border: 1px solid #4e75ff !important;
  box-shadow: none !important;
  outline: none !important;
}

.flatpickr-input:focus {
  border: 1px solid #4e75ff !important;
  box-shadow: none !important;
  outline: none !important;
}

.flatpickr-input:disabled {
  border: 1px solid #808080 !important;
  cursor: not-allowed;
  background: #fafafa;
}

.start-btn {
  border-radius: 8px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.start-btn:hover {
  background-color: #6c8cff;
}

.start-btn:disabled {
  color: #989898;
  background: #cfcfcf;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 346px;
  height: 72px;
  gap: 24px;
  margin: 0 auto;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  line-height: 150%;
  font-size: 16px;
}
/* snackbar */
.container.snackbar {
  width: 360px;
}

.delay-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  margin-bottom: 16px;
}

.snackbar-input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  font-size: 16px;
}

.snackbar-input:hover {
  border: 1px solid #000;
}

.snackbar-input:active {
  border: 1px solid #4e75ff !important;
  box-shadow: none !important;
  outline: none !important;
}

.snackbar-input:focus {
  border: 1px solid #4e75ff !important;
  box-shadow: none !important;
  outline: none !important;
}

.fieldset-container {
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  text-align: left;
  margin: 0;
}
